<template>
  <b-form class="language_part_insert_form" @submit="onSubmit($event,id)">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <multiselect v-model="subject"
                       id="subject_select"
                       label="translation"
                       track-by="id"
                       placeholder="Subject"
                       open-direction="bottom"
                       :options="subjects"
                       :multiple="false"
                       :searchable="true"
                       :loading="isLoading1"
                       :internal-search="false"
                       :clear-on-select="false"
                       :close-on-select="true"
                       :options-limit="300"
                       :max-height="600"
                       :show-no-results="false"
                       :hide-selected="true"
                       @search-change="searchSubject">
          </multiselect>
        </div>
        <div class="col-12 col-lg-5">
          <multiselect v-model="action"
                       id="action_select"
                       label="translation"
                       track-by="id"
                       placeholder="Action"
                       open-direction="bottom"
                       :options="actions"
                       :multiple="false"
                       :searchable="true"
                       :loading="isLoading1"
                       :internal-search="false"
                       :clear-on-select="false"
                       :close-on-select="true"
                       :options-limit="300"
                       :max-height="600"
                       :show-no-results="false"
                       :hide-selected="true"
                       @search-change="searchAction">
          </multiselect>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Save</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';
  import Multiselect from 'vue-multiselect'

  export default {
    name: "management-language-subjectaction-insert",
    data() {
      return {
        id: '',
        subject:{},
        action:{},
        languageId: '',
        subjects: [],
        actions:[],
        isLoading1: false,
        isLoading2: false
      }
    },
    props: {
      parent_id: String,
      submit: Function,
      path: String
    },
    components: {
      Multiselect
    },
    beforeMount(){
      this.languageId = this.parent_id;
    },
    async asyncData (context) {

    },
    methods: {
      async searchSubject (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/subjects?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/subjects?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        this.subjects = response.data;
      },
      async searchAction (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/actions?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/actions?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        this.actions = response.data;
      },
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "subjectId": _this.subject.id,
                "actionId": _this.action.id,
                "languageId" : _this.languageId
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "subjectId": _this.subject.id,
                "actionId": _this.action.id,
                "languageId" : _this.languageId
              },
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to insert language part"
          }else{
            response.data.languageId = _this.languageId;
            response.data.subject_translation = response.data.subject.translation;
            response.data.action_translation = response.data.action.translation;
            _this.submit(response.data);
            _this.subject = {};
            _this.action = {};
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  .language_part_insert_form .row{
    margin-bottom: 10px;
  }
</style>
