<template>
  <b-form class="language_part_insert_form" @submit="onSubmit($event,id)">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <multiselect v-model="action"
                       id="action_select"
                       label="translation"
                       track-by="id"
                       placeholder="Action"
                       open-direction="bottom"
                       :options="actions"
                       :multiple="false"
                       :searchable="true"
                       :loading="isLoading1"
                       :internal-search="false"
                       :clear-on-select="false"
                       :close-on-select="true"
                       :options-limit="300"
                       :max-height="600"
                       :show-no-results="false"
                       :hide-selected="true"
                       @search-change="searchAction">
          </multiselect>
        </div>
        <div class="col-12 col-lg-4">
          <multiselect v-model="objektconnection"
                       id="objektconnection_select"
                       label="translation"
                       track-by="id"
                       placeholder="Object Conn."
                       open-direction="bottom"
                       :options="objektconnections"
                       :multiple="false"
                       :searchable="true"
                       :loading="isLoading2"
                       :internal-search="false"
                       :clear-on-select="false"
                       :close-on-select="true"
                       :options-limit="300"
                       :max-height="600"
                       :show-no-results="false"
                       :hide-selected="true"
                       @search-change="searchObjektconnection">
          </multiselect>
        </div>
        <div class="col-12 col-lg-4">
          <multiselect v-model="objekt"
                       id="objekt_select"
                       label="translation"
                       track-by="id"
                       placeholder="Object"
                       open-direction="bottom"
                       :options="objekts"
                       :multiple="false"
                       :searchable="true"
                       :loading="isLoading3"
                       :internal-search="false"
                       :clear-on-select="false"
                       :close-on-select="true"
                       :options-limit="300"
                       :max-height="600"
                       :show-no-results="false"
                       :hide-selected="true"
                       @search-change="searchObjekt">
          </multiselect>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Save</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';
  import Multiselect from 'vue-multiselect'

  export default {
    name: "management-language-actionobjekt-insert",
    data() {
      return {
        id: '',
        action:{},
        objektconnection: {},
        objekt: {},
        languageId: '',
        actions:[],
        objektconnections: [],
        objekts: [],
        isLoading1: false,
        isLoading2: false,
        isLoading3: false
      }
    },
    props: {
      parent_id: String,
      submit: Function,
      path: String
    },
    components: {
      Multiselect
    },
    beforeMount(){
      this.languageId = this.parent_id;
    },
    async asyncData (context) {

    },
    methods: {
      async searchAction (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/actions?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/actions?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        this.actions = response.data;
      },
      async searchObjektconnection (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/objektconnections?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/objektconnections?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        this.objektconnections = response.data;
      },
      async searchObjekt (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/objekts?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/objekts?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        this.objekts = response.data;
      },
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "actionId": _this.action.id,
                "objektconnectionId": typeof(_this.objektconnection.id) !== 'undefined'? _this.objektconnection.id : '',
                "objektId": _this.objekt.id,
                "languageId" : _this.languageId
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "actionId": _this.action.id,
                "objektconnectionId": typeof(_this.objektconnection.id) !== 'undefined'? _this.objektconnection.id : '',
                "objektId": _this.objekt.id,
                "languageId" : _this.languageId
              },
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to insert language part"
          }else{
            response.data.languageId = _this.languageId;
            response.data.action_translation = response.data.action.translation;
            response.data.objektconnection_translation = typeof(response.data.objektConnection) !== 'undefined' && response.data.objektConnection != null? response.data.objektConnection.translation : '';
            response.data.objekt_translation = response.data.objekt.translation;
            _this.submit(response.data);
            _this.action = {};
            _this.objektconnection = {};
            _this.objekt = {};
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  .language_part_insert_form .row{
    margin-bottom: 10px;
  }
</style>
