<template>
  <div id="language-detail" class="jumbotron">
    <div class="row title">
      [{{code}}] {{name}}
    </div>
    <div class="row">
      <b-button-group>
        <b-button v-on:click="onSubmitEdit($event, id)" class="btn btn-primary">Edit</b-button>
        <b-button v-on:click="onSubmitGenerate($event, id)" class="btn btn-primary">Generate</b-button>
        <b-button v-on:click="onSubmitDelete($event, id)" class="btn btn-danger">Delete</b-button>
      </b-button-group>
    </div>
    <div class="row">
      <AccordionElements id="list_subjects" title="Subjects"
                         v-bind:model_id="id"
                         v-bind:fields="subjects_fields"
                         v-bind:list="loadSubjects()"
                         v-bind:insertComponent="subject_insert"
                         v-bind:editComponent="subject_edit"
                         v-bind:delete="deleteSubject"
                         v-bind:path="'subjects'"
      />
    </div>
    <div class="row">
      <AccordionElements id="list_actions" title="Actions"
                         v-bind:model_id="id"
                         v-bind:fields="actions_fields"
                         v-bind:list="loadActions()"
                         v-bind:insertComponent="action_insert"
                         v-bind:editComponent="action_edit"
                         v-bind:delete="deleteAction"
                         v-bind:path="'actions'"
      />
    </div>
    <div class="row">
      <AccordionElements id="list_objektconnections" title="Object Connections"
                         v-bind:model_id="id"
                         v-bind:fields="objektconnections_fields"
                         v-bind:list="loadObjektconnections()"
                         v-bind:insertComponent="objektconnection_insert"
                         v-bind:editComponent="objektconnection_edit"
                         v-bind:delete="deleteObjektconnection"
                         v-bind:path="'objektconnections'"
      />
    </div>
    <div class="row">
      <AccordionElements id="list_objekts" title="Objects"
                         v-bind:model_id="id"
                         v-bind:fields="objekts_fields"
                         v-bind:list="loadObjekts()"
                         v-bind:insertComponent="objekt_insert"
                         v-bind:editComponent="objekt_edit"
                         v-bind:delete="deleteObjekt"
                         v-bind:path="'objekts'"
      />
    </div>
    <div class="row">
      <AccordionElements id="list_subjectactions" title="Subjects <-> Actions"
                         v-bind:model_id="id"
                         v-bind:fields="subjectactions_fields"
                         v-bind:list="loadSubjectactions()"
                         v-bind:insertComponent="subjectaction_insert"
                         v-bind:editComponent="subjectaction_edit"
                         v-bind:delete="deleteSubjectaction"
                         v-bind:path="'subjectactions'"
      />
    </div>
    <div class="row">
      <AccordionElements id="list_actionobjekts" title="Actions <-> Objects"
                         v-bind:model_id="id"
                         v-bind:fields="actionobjekts_fields"
                         v-bind:list="loadActionobjekts()"
                         v-bind:insertComponent="actionobjekt_insert"
                         v-bind:editComponent="actionobjekt_edit"
                         v-bind:delete="deleteActionobjekt"
                         v-bind:path="'actionobjekts'"
      />
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import AccordionElements from '~/components/AccordionElements.vue'
  import LanguagePartEdit from '~/components/management/language/abstract_part/edit.vue'
  import LanguagePartInsert from '~/components/management/language/abstract_part/insert.vue'
  import LanguageSubjActEdit from '~/components/management/language/subjectaction/edit.vue'
  import LanguageSubjActInsert from '~/components/management/language/subjectaction/insert.vue'
  import LanguageActObjEdit from '~/components/management/language/actionobjekt/edit.vue'
  import LanguageActObjInsert from '~/components/management/language/actionobjekt/insert.vue'

  export default {
    name: "management-language-detail-id",
    data() {
      return {
          id: '',
          code:'',
          name: '',
          subjects_fields: [
            { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
            { key: 'translation', label: 'Translation', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          subject_edit: {
            component: LanguagePartEdit
          },
          subject_insert: {
            component: LanguagePartInsert
          },
          actions_fields: [
            { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
            { key: 'translation', label: 'Translation', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          action_edit: {
            component: LanguagePartEdit
          },
          action_insert: {
            component: LanguagePartInsert
          },
          objektconnections_fields: [
            { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
            { key: 'translation', label: 'Translation', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          objektconnection_edit: {
            component: LanguagePartEdit
          },
          objektconnection_insert: {
            component: LanguagePartInsert
          },
          objekts_fields: [
            { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
            { key: 'translation', label: 'Translation', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          objekt_edit: {
            component: LanguagePartEdit
          },
          objekt_insert: {
            component: LanguagePartInsert
          },
          subjectactions_fields: [
            { key: 'subject_translation', label: 'Subject', sortable: true, sortDirection: 'desc' },
            { key: 'action_translation', label: 'Action', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          subjectaction_edit: {
            component: LanguageSubjActEdit
          },
          subjectaction_insert: {
            component: LanguageSubjActInsert
          },
          actionobjekts_fields: [
            { key: 'action_translation', label: 'Action', sortable: true, sortDirection: 'desc' },
            { key: 'objektconnection_translation', label: 'Object Connection', sortable: true },
            { key: 'objekt_translation', label: 'Object', sortable: true },
            { key: 'actions', label: 'Actions' }
          ],
          actionobjekt_edit: {
            component: LanguageActObjEdit
          },
          actionobjekt_insert: {
            component: LanguageActObjInsert
          }
      }
    },
    components: {
      AccordionElements
    },
    async asyncData (context) {
      try {
        let response = {};
        let _this = context.app;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + context.params.id,
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
              url: process.env.API_URL + "/languages/" + context.params.id,
            withCredentials: true
          });
        }
        if (response.status !== 200){
          throw "Error to get language"
        }else{
          return {name : response.data.name.charAt(0).toUpperCase() + response.data.name.slice(1),
                  id : response.data.id,
                  code : response.data.code };
        }
      }catch(e){
        console.log(e);
      }
    },
    methods: {
      async onSubmitEdit(evt, id){
        this.$router.push({
          name: 'management-language-edit-id', params: { id: id }
        });
      },
      async onSubmitGenerate(evt, id){
        this.$router.push({
          name: 'management-language-generate-id', params: { id: id }
        });
      },
      async onSubmitDelete(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + id,
              withCredentials: true
            });
          }
          if (response.status !== 204){
            throw "Error to insert language"
          }else {
            this.$router.push({
              name: "management-language-list"
            });
          }
        }catch(e){
          console.log(e);
        }
      },
      async loadSubjects(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/subjects',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/subjects',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (subject) {
              subject.languageId = _this.id;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteSubject(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/subjects/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/subjects/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async loadActions(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/actions',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/actions',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (action) {
              action.languageId = _this.id;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteAction(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/actions/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/actions/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async loadObjektconnections(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/objektconnections',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/objektconnections',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (objektconnection) {
              objektconnection.languageId = _this.id;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteObjektconnection(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/objektconnections/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/objektconnections/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async loadObjekts(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/objekts',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/objekts',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (objekt) {
              objekt.languageId = _this.id;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteObjekt(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/objekts/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/objekts/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async loadSubjectactions(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/subjectactions',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/subjectactions',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (sa) {
              sa.languageId = _this.id;
              sa.subject_translation = sa.subject.translation;
              sa.action_translation = sa.action.translation;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteSubjectaction(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/subjectactions/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/subjectactions/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async loadActionobjekts(){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts',
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts',
              withCredentials: true
            });
          }
          if(response.status === 200) {
            response.data.forEach(function (ao) {
              ao.languageId = _this.id;
              ao.action_translation = ao.action.translation;
              ao.objektconnection_translation = typeof (ao.objektConnection) !== 'undefined' && ao.objektConnection != null? ao.objektConnection.translation : '';
              ao.objekt_translation = ao.objekt.translation;
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      },
      async deleteActionobjekt(id){
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts/' + id,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'DELETE',
              url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts/' + id,
              withCredentials: true
            });
          }
          return response;
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style scoped>
  #language-detail .row{
    margin-bottom: 10px;
  }
  .title{
    font-family: 'Staatliches', cursive;
    font-size: 2.4vw;
    text-align: center;
    margin-bottom: 0vw;
  }
</style>
