<template>
  <div class="generate_container">
    <b-form id="language_edit_form" @submit="onSubmit($event,id)">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="title">Generate therms</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <multiselect v-model="subjectactions"
                         id="subjectactions_select"
                         label="translation_complete"
                         track-by="id"
                         placeholder="Subject-Action"
                         open-direction="bottom"
                         :options="subjectactionsOptions"
                         :multiple="true"
                         :searchable="true"
                         :loading="isLoading1"
                         :internal-search="false"
                         :clear-on-select="false"
                         :close-on-select="true"
                         :options-limit="300"
                         :max-height="600"
                         :show-no-results="false"
                         :hide-selected="true"
                         @search-change="searchSubjectactions">
            </multiselect>
          </div>
          <div class="col-12 col-lg-6">
            <multiselect v-model="actionobjekts"
                         id="actionobjekts_select"
                         label="translation_complete"
                         track-by="id"
                         placeholder="Action-Object"
                         open-direction="bottom"
                         :options="actionobjektsOptions"
                         :multiple="true"
                         :searchable="true"
                         :loading="isLoading2"
                         :internal-search="false"
                         :clear-on-select="false"
                         :close-on-select="true"
                         :options-limit="300"
                         :max-height="600"
                         :show-no-results="false"
                         :hide-selected="true"
                         @search-change="searchActionobjekts">
            </multiselect>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <NumberPlusMinus v-bind:updateQtd="updateQuantity" max="50" label="Quantity" v-bind:required="true" />
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <b-button type="submit" class="btn btn-primary">Generate</b-button>
          </div>
        </div>
      </div>
    </b-form>
    <div class="generate_results container">
      <b-table v-show="results.length > 0" striped hover style="width: 99%;" :fields="fields" :items="results">
        <template v-for="field in fields" slot="field.name" slot-scope="row">
          {{ row.value }}
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import NumberPlusMinus from '~/components/NumberPlusMinus.vue';
  import Multiselect from 'vue-multiselect';

  export default {
    name: "management-language-generate-id",
    data() {
      return {
        id: '',
        languageId: '',
        subjectactions:[],
        actionobjekts:[],
        subjectactionsOptions: [],
        actionobjektsOptions: [],
        quantity: 1,
        isLoading1: false,
        isLoading2: false,
        fields: [
          { key: 'subject_translation', label: 'Subject', sortable: true, sortDirection: 'desc' },
          { key: 'action_translation', label: 'Action', sortable: true },
          { key: 'objektconnection_translation', label: 'Conn.', sortable: true },
          { key: 'objekt_translation', label: 'Object', sortable: true },
        ],
        results: []
      }
    },
    components: {
      NumberPlusMinus,
      Multiselect
    },
    async fetch (context) {
    },
    async asyncData (context) {
      return {id: context.params.id};
    },
    methods: {
      updateQuantity(value){
        this.quantity = value;
      },
      async searchSubjectactions (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + this.id + '/subjectactions?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + this.id + '/subjectactions?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        response.data.forEach(sa => {
          sa.translation_complete = sa.subject.translation + ' - ' + sa.action.translation;
        });
        this.subjectactionsOptions = response.data;
      },
      async searchActionobjekts (searchText) {
        let response = {};
        let _this = this;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts?q=' + encodeURI(searchText),
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + this.id + '/actionobjekts?q=' + encodeURI(searchText),
            withCredentials: true
          });
        }
        response.data.forEach(ao => {
          let connection = " - ";
          if(typeof ao.objektconnection !== 'undefined'
              && ao.objektconnection != null
              && typeof ao.objektconnection.translation !== 'undefined'
              && ao.objektconnection.translation != null){
            connection = " - " + ao.objektconnection.translation + " - ";
          }
          ao.translation_complete = ao.action.translation + connection + ao.objekt.translation;
        });
        this.actionobjektsOptions = response.data;
      },
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + id + "/generate?subjectactions=" + _this.subjectactions.map(sa=>sa.id).join(',') + "&actionobjekts=" + _this.actionobjekts.map(ao=>ao.id).join(',') + "&quantity=" + _this.quantity,
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'GET',
              url: process.env.API_URL + "/languages/" + id + "/generate?subjectactions=" + _this.subjectactions.map(sa=>sa.id).join(',') + "&actionobjekts=" + _this.actionobjekts.map(ao=>ao.id).join(',') + "&quantity=" + _this.quantity,
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to generate"
          }else{
            _this.results = response.data.map(res => {
              let connection = "";
              if(typeof res.objektConnection !== 'undefined'
                && res.objektConnection != null
                && typeof res.objektConnection.translation !== 'undefined'
                && res.objektConnection.translation != null){
                connection = res.objektConnection.translation;
              }
              return {
                subject_translation: res.subject.translation,
                action_translation: res.action.translation,
                objektconnection_translation: connection,
                objekt_translation: res.objekt.translation
              }
            });
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
  #language_edit_form .row{
    margin-bottom: 10px;
  }

  .title{
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0vw;
  }
</style>
