<template>
  <b-form id="language_edit_form" @submit="onSubmit($event,id)">
    <div class="container">
      <div class="row">
        <div class="col-3 col-lg-2">
          <b-form-input type="text" class="form-control" v-model="code" id="code" maxlength="2" placeholder="Code (2 chars)" required />
        </div>
        <div class="col-12 col-lg-8">
          <b-form-input type="text" class="form-control" v-model="name" id="name" maxlength="30" placeholder="Name" required />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Save</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "management-language-edit-id",
    data() {
      return {
        id: '',
        code:'',
        name: ''
      }
    },
    components: {
    },
    async asyncData (context) {
      try {
        let response = {};
        let _this = context.app;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + context.params.id,
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + context.params.id,
            withCredentials: true
          });
        }
        if (response.status !== 200){
          throw "Error to get language"
        }else{
          return {name : response.data.name.charAt(0).toUpperCase() + response.data.name.slice(1),
            id : response.data.id,
            code : response.data.code };
        }
      }catch(e){
        console.log(e);
      }
    },
    methods: {
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'PUT',
              url: process.env.API_URL + "/languages/" + _this.id,
              data: {
                "name": _this.name,
                "code": _this.code
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'PUT',
              url: process.env.API_URL + "/languages/" + _this.id,
              data: {
                "name": _this.name,
                "code": _this.code
              },
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to edit language"
          }else{
            this.$router.push({
              name: 'management-language-detail-id', params: { id: _this.id }
            });
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style scoped>
  #language_edit_form .row{
    margin-bottom: 10px;
  }
</style>
