<template>
  <div id="" role="tablist" class="w-100 accordion_elements">
    <b-card no-body class="mb-1" style="background-color: transparent; border: 0px;">
      <b-card-header header-tag="header" class="p-1" role="tab" style="background-color: transparent; border-bottom: 0px;">
        <div class="row">
          <b-button href="#" v-b-toggle="'accordion_' + id" variant="info" style="width: 90%;">{{title}}</b-button>
          <b-button class="btn-secondary" @click="showAdd($event)" style="width: 9%;">Add</b-button>
        </div>
        <div class="row">
          <b-card v-show="show_insert" style="width: 99%;">
            <component v-bind:is="insertComponent.component" v-bind:submit="submitInsert" v-bind:parent_id="model_id" v-bind:path="path"></component>
          </b-card>
        </div>
      </b-card-header>
      <b-collapse v-bind:id="'accordion_' + id" @show="onExpand" accordion="my-accordion" role="tabpanel">
        <b-card-body style="padding: 0px;">
          <div class="row justify-content-center" style="width: 90%;" v-show="!loaded"><fa icon="circle-notch" style="font-size: 3em;" class="fa-spin"/></div>
          <!--<p class="card-text"></p>-->
          <b-table v-show="loaded" striped hover style="width: 99%;" :fields="fields" :items="items">
            <template v-for="field in fields" slot="field.name" slot-scope="row">
              {{ row.value }}
            </template>

            <template slot="actions" slot-scope="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-1">
                Edit
              </b-button>
              <b-button size="sm" @click="onDelete(row.item, row.index)" class="mr-1 btn-danger">
                Delete
              </b-button>
            </template>

            <template slot="row-details" slot-scope="row">
              <b-card>
                <component v-bind:is="editComponent.component" v-bind:model="row.item" v-bind:submit="submitEdit" v-bind:row="row" v-bind:path="path"></component>
              </b-card>
            </template>
          </b-table>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
  import axios from 'axios';
  import Cookies from 'cookie-universal';
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

  export default {
    name: "AccordionElements",
    data() {
      return {
        items: [],
        loaded: false,
        loading: false,
        show_insert: false
      }
    },
    props: {
      id: '',
      list: Promise,
      add: Function,
      delete: Function,
      title: '',
      model_id: String,
      insertComponent: Object,
      editComponent: Object,
      fields: Array,
      path: String
    },
    beforeMount(){
    },
    methods: {
      async onExpand(){
        try{
          if(!this.loading && !this.loaded){
            this.loading = true;
            let _this = this;
            let response = {};
            response = await this.loadList();
            _this.loading = false;
            if (response.status !== 200 && response.status !== 404){
              throw "Error to load rows"
            }else{
              _this.loaded = true;
              if (response.status === 200)
                this.items = response.data;
            }
          }
        }catch (e) {
          console.log(e);
        }
      },
      async loadList(){
        return await this.list;
      },
      showAdd(evt){
        this.show_insert = !this.show_insert;
      },
      submitEdit(row, id, model){
        for (let property in model) {
          if (model.hasOwnProperty(property)) {
            //this.items[index][property] = model[property];
            this.$set(this.items.filter(item => {
              return item.id === id;
            })[0], property, model[property]);
          }
        }
        row.toggleDetails();
      },
      submitInsert(model){
        this.items.push(model);
        this.show_insert = false;
      },
      async onDelete(item){
        let response = {};
        response = await this.delete(item.id);
        if (response.status !== 204){
          throw "Error to delete row"
        }else {
          let index = 0;
          for(let i = 0; i < this.items.length; i++){
            if(this.items[i].id !== item.id){
              index++;
            }else{
              break;
            }
          }
          this.items.splice(index,1);
        }
      }
    }
  }
</script>

<style scoped>
.accordion_elements .btn{
  text-align: left;
}
.accordion_elements .card{
  background-color: transparent;
}
</style>
