<template>
  <div class="number_minus_plus">
    <b-form-group v-bind:label="label" >
      <fa icon="minus-circle" style="font-size: 1.5em;" v-on:click="minus($event)" class="pointer"/>
      <b-form-input v-model="quantity"
                    type="text"
                    data-bind="value:replyNumber"
                    maxlength="2"
                    style="max-width: 15%;"
                    v-bind:required="required"
                    :formatter="format"
                    @input="change"/>
      <fa icon="plus-circle" style="font-size: 1.5em;" v-on:click="plus($event)" class="pointer"/>
    </b-form-group>
  </div>
</template>

<script>
  export default {
    name: "NumberPlusMinus",
    data() {
      return {
        quantity: 1,
        minimum: 1
      }
    },
    props: {
      min: "1",
      max: String,
      updateQtd: Function,
      label: String,
      required: Boolean
    },
    beforeMount(){
      if(typeof this.min !== 'undefined') {
        this.quantity = new Number(this.min);
        this.minimum = this.min;
      }else{
        this.minimum = 1;
      }
    },
    methods: {
      plus(evt){
        let max = this.max;
        if((this.quantity + 1) <= max)
          this.quantity++;
        else
          this.quantity = max;
      },
      minus(evt){
        let min = this.minimum;
        if((this.quantity - 1) >= min)
          this.quantity--;
        else
          this.quantity = min;
      },
      change(value){
        this.updateQtd(value);
      },
      format(value, event) {
        if(Number(value) > this.max)
          return this.max;
        let min = this.minimum;
        if(Number(value) < min){
          return min;
        }
        return value;
      }
    }
  }
</script>

<style scoped>
.number_minus_plus input{
  display: inline;
}
</style>
