<template>
  <div class="vh-100 vw-100 row align-items-center pick_boxes">
    <div class="card-deck col align-content-center justify-content-center">
      <div v-for="(item, index) in form.item_list" v-bind:class="[selectable ? 'pointer' : '', item.bg, 'card']" v-on:click="select($event, item.id)" style="max-width: 12rem; min-width: 12rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p v-if="item.description !== null" class="card-text">{{item.description}}</p>
          <div v-if="item.button_path !== null && typeof(item.button_path) !== 'undefined'" class="text-center">
              <a v-if="item.button_path !== null && typeof(item.button_path) !== 'undefined'" v-bind:href="base_url + '/' + item.button_path" class="btn btn-primary mx-auto">{{item.button_text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "PickBoxes",
        data() {
          return {
            base_url: process.env.OWN_URL,
            selectable: true,
            form: {
              item_id: '',
              item_list: []
            }
          }
        },
        props: {
          load: Promise,
          extraBox: Object
        },
        beforeMount(){
          this.loadList().then(function (obj) {
            
          }).catch(reason => {
            console.log('PickBoxes.vue => error beforeMount / ', reason);
          });
        },
        methods: {
          async loadList(){
            this.form.item_list = await this.load;//[{id:"1231fjdkfsd", title: "Test", description: "desc", action_path: "logo", bg: ''},{id:"1231fjdkfsd", title: "Test 2", description: "desc 2", action_path: "logo", bg: ''}];
            let el = this;
            this.form.item_list.forEach(function(item){
              item.bg = el.get_bg();
            });
            if(typeof(this.extraBox) !== 'undefined' && this.extraBox){
              this.form.item_list.push(this.extraBox);
            }
          },
          get_bg(){
            return this.pickRandomBackground();
          },
          select(evt, id){
            evt.preventDefault();
            let item = this.form.item_list.filter(function(item) {
              return item.id === id;
            })[0];
            if(typeof(item.action_path) !== "undefined" && item.action_path !== null ) {
              let action = {
                name: item.action_path
              };
              if(typeof(item.action_params) !== "undefined" && item.action_params !== null ) {
                action.params = item.action_params;
              }
              this.$router.push(action);
            }
          }
        }
    }
</script>

<style scoped>
  .pick_boxes .card{
    margin-bottom: 15px;
  }
  .pick_boxes .card:hover{
    opacity: .7;
  }
</style>
