<template>
  <b-form class="language_part_edit_form" @submit="onSubmit($event,id)">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <b-form-input type="text" class="form-control" v-model="name" id="name" maxlength="100" placeholder="Name" required />
        </div>
        <div class="col-12 col-lg-5">
          <b-form-input type="text" class="form-control" v-model="translation" id="translation" maxlength="100" placeholder="Translation" required />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Save</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "management-language-part-edit",
    data() {
      return {
        id: '',
        translation:'',
        name: '',
        languageId: ''
      }
    },
    props: {
      submit: Function,
      row: Object,
      model: Object,
      path: String
    },
    components: {
    },
    beforeMount(){
      this.id = this.model.id;
      this.translation = this.model.translation;
      this.name = this.model.name;
      this.languageId = this.model.languageId;
    },
    async asyncData (context) {
      try {
        let response = {};
        let _this = this.model;
        let app = context.app;
        if(process.server){
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path +'/' + _this.id,
            withCredentials: true,
            headers: {
              Cookie: "JSESSIONID=" + app.$cookies.get('JSESSIONID') + ";"
            }
          });
        }else{
          response = await axios({
            method: 'GET',
            url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path +'/' + _this.id,
            withCredentials: true
          });
        }
        if (response.status !== 200){
          throw "Error to get language part"
        }else{
          return {
            name : response.data.name.charAt(0).toUpperCase() + response.data.name.slice(1),
            id : response.data.id,
            translation : response.data.translation ,
            languageId: _this.languageId
          };
        }
      }catch(e){
        console.log(e);
      }
    },
    methods: {
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'PUT',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path +'/' + _this.id,
              data: {
                "name": _this.name,
                "translation": _this.translation,
                "languageId" : _this.languageId
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'PUT',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path +'/' + _this.id,
              data: {
                "name": _this.name,
                "translation": _this.translation,
                "languageId" : _this.languageId
              },
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to edit language part"
          }else{
            _this.submit(_this.row,_this.id,{
              id: _this.id,
              translation: _this.translation,
              name: _this.name,
              languageId: _this.languageId
            });
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style scoped>
  .language_part_edit_form .row{
    margin-bottom: 10px;
  }
</style>
