<template>
  <b-form class="language_part_insert_form" @submit="onSubmit($event,id)">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <b-form-input type="text" class="form-control" v-model="name" id="name" maxlength="100" placeholder="Name" required />
        </div>
        <div class="col-12 col-lg-5">
          <b-form-input type="text" class="form-control" v-model="translation" id="translation" maxlength="100" placeholder="Translation" required />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Save</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "management-language-part-insert",
    data() {
      return {
        id: '',
        translation:'',
        name: '',
        languageId: ''
      }
    },
    props: {
      parent_id: String,
      submit: Function,
      path: String
    },
    components: {
    },
    beforeMount(){
      this.languageId = this.parent_id;
    },
    async asyncData (context) {

    },
    methods: {
      async onSubmit(evt, id){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "name": _this.name,
                "translation": _this.translation,
                "languageId" : _this.languageId
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages/" + _this.languageId + '/'+ this.path,
              data: {
                "name": _this.name,
                "translation": _this.translation,
                "languageId" : _this.languageId
              },
              withCredentials: true
            });
          }
          if (response.status !== 200){
            throw "Error to insert language part"
          }else{
            _this.submit({
              id: response.data.id,
              translation: _this.translation,
              name: _this.name,
              languageId: _this.languageId
            });
            _this.name = '';
            _this.translation = '';
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style scoped>
  .language_part_insert_form .row{
    margin-bottom: 10px;
  }
</style>
