<template>
  <b-form id="language_insert_form" @submit="onSubmit">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span class="title">New Language</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-lg-2">
          <b-form-input type="text" class="form-control" v-model="form.code" id="code" maxlength="2" placeholder="Code (2 chars)" required />
        </div>
        <div class="col-12 col-lg-8">
          <b-form-input type="text" class="form-control" v-model="form.name" id="name" maxlength="30" placeholder="Name" required />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b-button type="submit" class="btn btn-primary">Add</b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "management-language-insert",
    data() {
      return {
        form: {
          code:'',
          name: ''
        }
      }
    },
    components: {
    },
    methods: {
      async onSubmit(evt){
        evt.preventDefault();
        try {
          let response = {};
          let _this = this;
          if(process.server){
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages",
              data: {
                "name": _this.form.name,
                "code": _this.form.code
              },
              withCredentials: true,
              headers: {
                Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
              }
            });
          }else{
            response = await axios({
              method: 'POST',
              url: process.env.API_URL + "/languages",
              data: {
                "name": _this.form.name,
                "code": _this.form.code
              },
              withCredentials: true
            });
          }
          if (response.status !== 201){
            throw "Error to insert language"
          }else{
            this.$router.push({
              name: 'management-language-detail-id', params: { id: response.data.id }
            });
          }
        }catch(e){
          console.log(e);
        }
      }
    }
  }
</script>

<style scoped>
  #language_insert_form .row{
    margin-bottom: 10px;
  }

  .title{
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0vw;
  }
</style>
