<template>
    <div>
      <PickBoxes v-bind:load="loadAllLanguages()" v-bind:extraBox="new_language"/>
    </div>
</template>

<script>
    import PickBoxes from '~/components/PickBoxes.vue'
    import axios from 'axios';
    import Cookies from 'cookie-universal';

    function createCookie({req, res}) {
      return Cookies(req, res);
    }

    export default {
        name: "management-language-list",
        data() {
          return {
            form: {
            },
            new_language: {
              title: 'Add New (+)',
              id: '_new',
              action_path: 'management-language-insert'
            }
          }
        },
        components: {
          PickBoxes
        },
        methods: {
          async loadAllLanguages(){
            try {
              let response = {};
              let _this = this;
              if(process.server){
                response = await axios.get(process.env.API_URL + "/languages", {
                  withCredentials: true,
                  headers: {
                    Cookie: "JSESSIONID=" + _this.$cookies.get('JSESSIONID') + ";"
                  }
                });
              }else{
                response = await axios.get(process.env.API_URL + "/languages", {
                  withCredentials: true
                });
              }

              if (response.status !== 200){
                throw "Error to find languages"
              }else{
                let languages = [];
                if(response.data && response.data._embedded && response.data._embedded.languages){
                  response.data._embedded.languages.forEach(function (lang) {
                    let language = {
                      id: lang.id,
                      title: lang.name.charAt(0).toUpperCase() + lang.name.slice(1),
                      action_path: 'management-language-detail-id',
                      action_params: { id: lang.id }
                    };
                    languages.push(language);
                  });
                }
                return languages;
              }
            }catch(e){
              console.log(e);
            }
          }
        }
    }
</script>

<style scoped>

</style>
